

body{
    background-color: white;
}

h1{
    color: green;
}

#title{
    margin-left: 45%;
}

p{
    font-size: 25px;
    float: left;
    color: green;
    margin-left: 20px;
}


#lang{
    float: right;
    height: 30px;
    border-right: 20px;
}


#outputs{
    display: flex;
    width:auto;
    margin-top: 40px;
    margin-left: 50px ;
    justify-content: left;
    justify-items: left;
    gap: 50px;
    margin-left: 25%;
}

#outputs div{
    display: none;
    width: auto;
}

table, th {
    border:1px solid black;
    border-collapse: collapse;
  }
table{
    width: 500px;
    height: 500px;
    margin-top: 50px;
    text-align: center;
}



.cols{
    display: flex;
    width: 95%;
    margin-top: 40px;
    margin-left: 50px ;
    margin-right: 50px;
    font-family: monospace;
    
}

.cols div{
    width: 50%;
    text-align: center;
}

select{
    padding: 10px;
    font-size: 16px;
}

#seleziona-button{
    padding: 2px 5px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
}

button{
    padding: 2px 5px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    font-size: 20px;
    font-weight: 500;
}

#si{
    font-family: monospace;
}

@media print{
    .nascondi-print{
        display: none;
    }

    @page {
        margin: 0;
    }

    body {
        margin: 1.6cm;
      }
    
    #outputs{
        margin-left: 5.5%;
        gap: 25px;
    }
      
}

.download-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}


.soluzione{
    position: relative;
    opacity: 1;
}

.invisible{
    display:none;
}


h2{
    color: green;
}

#font{
    text-align: right;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 0;
    width: 100%;
}

#fontStrano{
    padding-right: 300px;
    text-align: right;
}