

body{
    background-color: white;
}

h1{
    color: green;
}

#title{
    margin-left: 45%;
}

p{
    font-size: 25px;
    float: left;
    color: green;
    margin-left: 20px;
}


#lang{
    float: right;
    height: 30px;
    border-right: 20px;
}


#outputs{
    display: flex;
    width:auto;
    margin-top: 40px;
    margin-left: 50px ;

}

#outputs div{
    width: 50%;
}

table, th {
  
    border:1px solid black;
    border-collapse: collapse;
  }
table{
    width: 500px;
    height: 500px;
    margin-top: 50px;
    text-align: center;
}



#cols{
    display: flex;
    width: 95%;
    margin-top: 40px;
    margin-left: 50px ;
    margin-right: 50px;
    font-family: monospace;
    
}

#cols div{
    width: 50%;
    text-align: center;
}

select{
    padding: 10px;
    font-size: 16px;
    
}

#seleziona-button{
    padding: 2px 5px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
}

button{
    padding: 2px 5px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    font-size: 20px;
    font-weight: 500;
}

#si{
    font-family: monospace;
}